body{
    font-family: sans-serif;
    margin: 0;
    width:100%;
    color: black;
    background-color: aliceblue;
}



/*This is where i work on navbar*/
.navbar-container{
    display: flex;
    padding: 1rem;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 4px 6px rgba(0,0,0,0.1);
    width: 100%;
    box-sizing: border-box;
}

#word-search{
    display: none;
    padding: 0.5rem;
    width:400px;
    margin: 0 1rem
}

.form-check-label{
    display: none;
}

#lupa{
    position: relative;
    left:23% ;
}


#search-button:hover{
    cursor: pointer;
}

.navbar-hidden {
    transform: translateY(-100%);
}

.hidden{
    display: none;
    opacity: 0;
    transition: opacity 0.3s, display 0s 0.3s;
}


/*-------------------------*/


/*This is the responive navbar section*/

@media only screen and (min-width: 615px) {
    #word-search{
        display: inline-block;
    }
    #search-button{
        display: none;
    }
    .form-check-input{
        display: inline-block;
    }
    
    .form-check-label{
        display: inline-block;
    }

}

@media only screen and (max-width: 400px){
    #lupa{
        position: relative;
        left:20% ;
    }
    
}

@media only screen and (max-width: 260px){
    #lupa{
        position: relative;
        left:10% ;
    }
    
}
/*------------------------*/


/*THis is the main content*/


/*THis is the word area*/
#main-content-container{
    padding: 1.5rem 1rem;
    margin: auto;
}

#main-word{
    font-weight: 800;
    font-size: 3rem;
    margin-bottom: 0;
    
}

#pronunce{
    color: blueviolet;
    margin-top: 0;
    
}

#type-of-word{
    font-style: italic;
    margin-top: 3rem;
    
}
/*------------------------*/


/*This is the meaning section*/

.meaning-container h2{
  font-size: 1.5rem;
  margin-top: 2rem;
}

#list-of-meaning{
    margin-top: 1rem;
    list-style: circle;
}

#list-of-meaning li{
    margin-top: 1rem;
}
/*-------------------*/


/*This is the synonym section*/


.synonym-container h2{
    font-size: 1.5rem;
    margin-top: 2rem;
    display: inline-block;
    margin-right: 2rem;
}

.synonym-container p{
    display: inline-block;
    color: blueviolet;
}

/*------------------------*/


/*------------------------*/

